@page "/addCategory"

@using DAL
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Components
@using System.Text.RegularExpressions 
@inject IDataAccess data
@inject IConfiguration config
@inject NavigationManager navigationManager


<h3>Add Category</h3>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control"
                       @bind-value="@categoryName" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary"
                        @onclick="() => addCategory()">
                    Add
                </button>
                <button type="button" class="btn btn-warning"
                        @onclick="() => cancel()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
<p style="color: red;">@errorString</p>


@code {

    string categoryName;
    String errorString;

    private async Task addCategory()
    {
        if (categoryName != null)
        {
            const string reduceMultiSpace = @"[ ]{2,}";
            categoryName = Regex.Replace(categoryName.Replace("\t", " "), reduceMultiSpace, " ");

            errorString = "";

            string sql = "insert into category (CategoryName) values (@CategoryName);";

            await data.StoreData(sql, new { CategoryName = @categoryName }, config.GetConnectionString("DefaultConnection"));

            navigationManager.NavigateTo("/category");
        }
        else
        {
            errorString = "Please enter a category name!";
        }
    }

    void cancel()
    {
        navigationManager.NavigateTo("/category");
    }
}
