@page "/editCategory/{id:int}/{categoryName}"

@using DAL
@using LibraryServer.Models
@using Microsoft.Extensions.Configuration
@using System.Diagnostics
using System.Linq
@using Microsoft.AspNetCore.Components
@inject IDataAccess data
@inject IConfiguration config
@inject NavigationManager navigationManager


<h3>Edit Category</h3>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control"
                       @bind-value="@categoryName" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary"
                        @onclick="() => editCategory()">
                    Edit
                </button>
                <button type="button" class="btn btn-warning"
                        @onclick="() => cancel()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>


@code {

    [Parameter]
    public int id { get; set; }

    [Parameter]
    public string categoryName { get; set; }

    private async Task editCategory()
    {

        string sql = "update category set CategoryName = @CategoryName where Id = @id";

        await data.StoreData(sql, new { CategoryName = @categoryName, Id = @id }, config.GetConnectionString("DefaultConnection"));

        navigationManager.NavigateTo("/category");
    }

    void cancel()
    {
        navigationManager.NavigateTo("/category");
    }
}